<h1 class="text-center my-4">All blog posts</h1>
  <% if logged_in? %>
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <p>The form has the following <%= pluralize(@post.errors.count, 'error')%>:</p>
          <ul>
            <% @post.errors.full_messages.each do |error| %>
              <li>
                <%= error %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", placeholder: "Compose your post!"%>
      </div>
      <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  <% end %>

<% @posts.each do |post| %>
<div class="card my-5">
  <% if logged_in? %>
    <h6 class="card-header"><%= link_to post.user.username, user_path(post.user) %></h6>
  <% end %>
  <div class="card-body">
  <% if logged_in? %>
    <div class="image">
      <%= gravatar_for(post.user, size: 60)%>
    </div>
  <% end %>

    <div class="info">
      <p class="card-text"><%= post.body %></p>
    </div>
  </div>
  <div class="card-footer">
    <small class="card-text">Posted <%= time_ago_in_words(post.created_at) %> ago </small>
  </div>
</div>
<% end %>